*{
    margin: 0;
    padding: 0;
}



body{
    height: 100vh;
    background-image: url("../images/bg\ image.png");
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.success-container{
    padding: 150px;
    text-align: center;
}

.checkmark{
    font-size: 60px;
    color: green;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.home-btn{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: linear-gradient(
        to bottom,    
        #b84cff 30%,    
        #7b2be2 100%   
    );
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.home-btn:hover{
    background: linear-gradient(
        to bottom,   
        #8c3bc3 30%,    
        #671ec7 100%   
    );
}