<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="nav">

        <div class="left_nav">
            <div class="litverselogo">
                <img src="{% static 'images/logohorizont.png' %}" alt="" width="180px">
            </div>
        </div>

        <div class="right_nav">
            <form method="GET" action="">
                <div class="search_bar">
                    <input type="text" name="q" placeholder="Search books, authors, categories...">
                </div>
            </form>

            <div class="buttons">
                <div class="wishlist">
                    <a href="" class="wishlist-btn"><img src="{% static 'images/wishlistnav.png' %}" class="icon-img" alt="" width="20px">Wishlist</a>
                </div>

                <div class="cart">
                    <a href="" class="cart-btn"><img src="{% static 'images/cartnav.png' %}" class="icon-img" alt="" width="21px">Cart</a>
                </div>

                <div class="logout">
                    <a href="{% url 'logout' %}" class="logout-btn"><img src="{% static 'images/logoutnav.png' %}" class="icon-img" alt="" width="16px">Logout</a>
                </div>
            </div>

        </div>

    </div>

    <div class="main_section">
        
        <div class="discover_head">
            <p>Discover Your Next Great Read</p>
        </div>

        <div class="explore_head">
            <p>Explore our curated collection of bestsellers, classics, and hidden games</p>
        </div>

        <div class="main_sec_btns">
            <div class="explore_fiction">
                <a href=""><button>Fiction</button></a>
            </div>

            <div class="explore_mystery">
                <a href=""><button>Mystery</button></a>
            </div>

            <div class="explore_scific">
                <a href=""><button>Science Fiction</button></a>
            </div>

            <div class="explore_romance">
                <a href=""><button>Romance</button></a>
            </div>
        </div>
    </div>

    <div class="categories_btns">

        <div class="all_books">
            <a href="?category=all" class="{% if category == 'all' %}active{% endif %}"><button>All Books</button></a>
        </div>

        <div class="fiction">
            <a href="?category=fiction" class="{% if category == 'fiction' %}active{% endif %}"><button>Fiction</button></a>
        </div>

        <div class="mystery">
            <a href="?category=mystery" class="{% if category == 'mystery' %}active{% endif %}"><button>Mystery</button></a>
        </div>

        <div class="sci_fic">
            <a href="?category=scifi" class="{% if category == 'scifi' %}active{% endif %}"><button>Science Fiction</button></a>
        </div>

        <div class="romance">
            <a href="?category=romance" class="{% if category == 'romance' %}active{% endif %}"><button>Romance</button></a>
        </div>

        <div class="biography">
            <a href="?category=biography" class="{% if category == 'biography' %}active{% endif %}"><button>Biography</button></a>
        </div>

        <div class="self_help">
            <a href="?category=selfhelp" class="{% if category == 'selfhelp' %}active{% endif %}"><button>Self-Help</button></a>
        </div>

        <div class="business">
            <a href="?category=business" class="{% if category == 'business' %}active{% endif %}"><button>Business</button></a>
        </div>

        <div class="history">
            <a href="?category=history" class="{% if category == 'history' %}active{% endif %}"><button>History</button></a>
        </div>


    </div>

    <div class="border"></div>

    <div class="popular"><p>Popular & Recommended Books</p></div>

    <div class="book-grid">

        {% for book in books %}

        <div class="book-card">

            <div class="book-img">
                <img src="{{ book.image.url }}" width="100px">
            </div>

            <div class="category">
                <p>{{ book.get_category_display}}</p>
            </div>

            <div class="title-wish">
                <div class="title">
                    <p>{{ book.title }}</p>
                </div>

                <div class="wish-prod"><img src="{% static 'images/' %}" alt="" width="150px"></div>
            </div>

            <div class="author">
                <p>{{ book.author }}</p>
            </div>

            <div class="price">
                <p>$ {{ book.price }}</p>
            </div>

        </div>

        {% endfor %}

    </div>
    <!-- <h2>Welcome {{ request.user.username }}</h2>

    <h3>Available Books</h3>

    {% for book in books %}
        <div>
            <h4>{{ book.title }}</h4>
            <p>Author: {{ book.author }}</p>
            <p>Price: ₹{{ book.price }}</p>
        </div>
    
        <p>No books available.</p>
    {% endfor %} -->

    <!-- <a href="{% url 'logout' %}">Logout</a> -->
</body>
</html>