<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="nav">

        <div class="left_nav">
            <div class="litverselogo">
                <img src="{% static 'images/logohorizont.png' %}" alt="" width="180px">
            </div>
        </div>

        <div class="right_nav">
            <div class="search_bar">
                <input type="text" placeholder="Search books, authors, categories...">
            </div>

            <div class="buttons">
                <div class="wishlist">
                    <a href=""><button>Wishlist</button></a>
                </div>

                <div class="cart">
                    <a href=""><button>Cart</button></a>
                </div>

                <div class="logout">
                    <a href="{% url 'logout' %}"><button>Logout</button></a>
                </div>
            </div>

        </div>

    </div>

    <div class="main_section">
        
        <div class="discover_head">
            <p>Discover Your Next Great Read</p>
        </div>

        <div class="explore_head">
            <p>Explore our curated collection of bestsellers, classics, and hidden games</p>
        </div>

        <div class="main_sec_btns">
            <div class="explore_fiction">
                <a href=""><button>Fiction</button></a>
            </div>

            <div class="explore_mystery">
                <a href=""><button>Mystery</button></a>
            </div>

            <div class="explore_scific">
                <a href=""><button>Science Fiction</button></a>
            </div>

            <div class="explore_romance">
                <a href=""><button>Romance</button></a>
            </div>
        </div>
    </div>
    <!-- <h2>Welcome {{ request.user.username }}</h2>

    <h3>Available Books</h3>

    {% for book in books %}
        <div>
            <h4>{{ book.title }}</h4>
            <p>Author: {{ book.author }}</p>
            <p>Price: ₹{{ book.price }}</p>
        </div>
    
        <p>No books available.</p>
    {% endfor %} -->

    <!-- <a href="{% url 'logout' %}">Logout</a> -->
</body>
</html>