<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <div class="nav">

        <div class="left_nav">
            <div class="litverselogo">
                <a href="{% url 'home' %}?category=all"><img src="{% static 'images/logohorizont.png' %}" alt="" width="180px"></a>
            </div>
        </div>

        <div class="right_nav">
            <form method="GET" action="">
                <div class="search_bar">
                    <input type="text" name="q" placeholder="Search books, authors, categories...">
                </div>
            </form>

            <div class="buttons">
                <div class="wishlist">
                    <a href="" class="wishlist-btn"><img src="{% static 'images/wishlistnav.png' %}" class="icon-img" alt="" width="20px">Wishlist</a>
                </div>

                <div class="cart">
                    <a href="{% url 'cart' %}" class="cart-btn"><img src="{% static 'images/cartnav.png' %}" class="icon-img" alt="" width="21px">Cart</a>
                </div>

                <div class="logout">
                    <a href="{% url 'logout' %}" class="logout-btn"><img src="{% static 'images/logoutnav.png' %}" class="icon-img" alt="" width="16px">Logout</a>
                </div>
            </div>

        </div>

    </div>

    <div class="main_section">
        
        <div class="discover_head">
            <p>Discover Your Next Great Read</p>
        </div>

        <div class="explore_head">
            <p>Explore our curated collection of bestsellers, classics, and hidden games</p>
        </div>

        <div class="main_sec_btns">
            <div class="explore_fiction">
                <a href="{% url 'category_books' 'fiction' %}"><button>Fiction</button></a>
            </div>

            <div class="explore_mystery">
                <a href="{% url 'category_books' 'mystery' %}"><button>Mystery</button></a>
            </div>

            <div class="explore_scific">
                <a href="{% url 'category_books' 'scifi' %}"><button>Science Fiction</button></a>
            </div>

            <div class="explore_romance">
                <a href="{% url 'category_books' 'romance' %}"><button>Romance</button></a>
            </div>
        </div>

        
    </div>

    <div class="categories_btns">

        <div class="all_books">
            <a href="?category=all" class="{% if category == 'all' %}active{% endif %}"><button>All Books</button></a>
        </div>

        <div class="fiction">
            <a href="?category=fiction" class="{% if category == 'fiction' %}active{% endif %}"><button>Fiction</button></a>
        </div>

        <div class="mystery">
            <a href="?category=mystery" class="{% if category == 'mystery' %}active{% endif %}"><button>Mystery</button></a>
        </div>

        <div class="sci_fic">
            <a href="?category=scifi" class="{% if category == 'scifi' %}active{% endif %}"><button>Science Fiction</button></a>
        </div>

        <div class="romance">
            <a href="?category=romance" class="{% if category == 'romance' %}active{% endif %}"><button>Romance</button></a>
        </div>

        <div class="biography">
            <a href="?category=biography" class="{% if category == 'biography' %}active{% endif %}"><button>Biography</button></a>
        </div>

        <div class="self_help">
            <a href="?category=selfhelp" class="{% if category == 'selfhelp' %}active{% endif %}"><button>Self-Help</button></a>
        </div>

        <div class="business">
            <a href="?category=business" class="{% if category == 'business' %}active{% endif %}"><button>Business</button></a>
        </div>

        <div class="history">
            <a href="?category=history" class="{% if category == 'history' %}active{% endif %}"><button>History</button></a>
        </div>

    </div>

    <div class="border"></div>

    {% if category == "all" %}

    <div class="popular"><p>Popular & Recommended Books</p></div>

    {% endif %}

    <div class="book-grid">

        {% for book in books %}

        <div class="book-card">

            <a href="{% url 'book_detail' book.id %}" class="book-link">

            <div class="book-img">
                <img src="{{ book.image.url }}" width="100px">
            </div>

            <div class="category-prodwish">
                
                <div class="category">
                    <p>{{ book.get_category_display}}</p>
                </div>

                <div class="wishlist-prod">
                    <div class="wishlist-icon">❤</div>
                </div>

            </div>

            <div class="title">
                <p>{{ book.title }}</p>
            </div>

            <div class="author">
                <p>{{ book.author }}</p>
            </div>

            </a>

            <div class="price-addcart">
                <div class="price">
                    <p>$ {{ book.price }}</p>
                </div>

                <div class="add-cart">
                    <button onclick="addToCart('{{ book.id }}')">Add to Cart</button>
                </div>
            </div>

        </div>

        {% endfor %}

    </div>

    <div class="border"></div>

    <div class="footer">

        <div class="litverse-qoute">

            <div class="litverse-foot-logo">
                <img src="{% static 'images/logohorizont.png' %}" alt="" width="180px">
            </div>

            <div class="qoute">
                <p>Your trusted online destination for discovering and </p>
                <p>purchasing the best books across all genres.</p>
            </div>

        </div>

        <div class="links-contact">
            <div class="quick-links">
                <p>Quick Links</p>
                <ul type="none">
                    <a href="{% url 'home' %}?category=all"><li>Home</li></a>
                    <a href="{% url 'category_books' 'history' %}"><li>History</li></a>
                    <a href="{% url 'category_books' 'selfhelp' %}"><li>Self Help</li></a>
                    <a href="{% url 'category_books' 'business' %}"><li>Business</li></a>
                </ul>
            </div>

            <div class="customer-service">
                <p>Customer Service</p>
                <ul type="none">
                    <li>About Us</li>
                    <li>Shipping Info</li>
                    <li>Return</li>
                    <li>FAQ</li>
                </ul>
            </div>

            <div class="contact">
                <p>Contact Us</p>
                <ul type="none">
                    <li>📍123 Book Street, Reading City, RC 12345</li>
                    <li>📞(555) 123-4567o</li>
                    <li>✉ info@bookstore.com</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="copyright"><p>© 2026 BookStore. All rights reserved.</p></div>

    <script>
function addToCart(bookId){

    fetch("/add-to-cart/" + bookId + "/")
    .then(response => response.json())
    .then(data => {
        document.getElementById("cart-count").innerText = data.cart_count;
    });

}
</script>

</body>
</html>